Source: fxload
Section: misc
Priority: optional
Maintainer: Matteo Piscitelli <matteo@matteopiscitelli.it>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://sourceforge.net/projects/linux-hotplug/
Rules-Requires-Root: no

Package: fxload
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Firmware download to EZ-USB devices.
 This program is conveniently able to download firmware
 into FX and FX2 ez-usb devices. It is intended to be
 invoked by hotplug scripts when the unprogrammed
 device appears on the bus.
 .
 This version is patched to support also FX3
 protocol with a patch by Steven J. Magnani.
